vaapi>=0.6.22
naoth==0.5.1
tqdm==4.66.5
requests==2.32.3
opencv-python==4.11.0.86
pillow==11.1.0
linetimer==0.1.5
maturin==1.8.3
google-api-python-client==2.172.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2